.app-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 1.5rem 0.925rem;
}

.header-container {
    height: 3rem;
    width: 100vw;
    font-size: 1.313rem;
    text-align: center;
}

.header-container h1 {
    margin: .5rem 0 0;
    cursor: pointer;
}

.app-nav {
    height: 3rem;
    padding: 1.2rem 0;
}

.app-nav li:not(:last-child) {
    margin-inline-end: 1rem;
}

