.note-editor {
    position: fixed;
    top: 40%;
    left: 30%;
    background-color: #fff;
}


.color-input {
	position: fixed;
	top: 20%;
    background-color: #fff;
}

.color-value {
    width: 16px;
    height: 16px;
}
