.note-preview{
    width: 15rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
    background-color: rgb(255, 224, 138);
}

.note-preview img {
    max-width: 13rem;
}