.keep-app {
    width: 100vw;
    margin-top: 2rem;
    display: flex;
}

.note-display-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-input {
    position: absolute;
}

.notes-list {
    width: 100%;
    column-count: 4;
    column-gap: 1rem;
    column-width: 16.5rem;
    margin-bottom: 2rem;
}

.notes-list>* {
    margin-bottom: 1rem;
    break-inside: avoid-column;
    page-break-inside: avoid;
}

.pinned-note-list {
    width: 100%;
    text-align: center;
}
