.note-preview{
    width: 16rem;
    height: fit-content;
    border-radius: 8px;
    margin: .5rem;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding-top: 1rem;
    cursor: pointer;
}

.note-actions {
    opacity: 0;
    transition: .3s
}
.note-preview:hover > .note-actions {
    opacity: 1;
}

.note-preview:hover{
    box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.note-preview img {
    max-width: 13rem;
    border-radius: 7px;
}

.note-preview button {
    background: none;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.note-preview button:hover{
    background-color: #ddddddbc;
}

.note-preview li {
    text-align: start;
}

.fas.fa-thumbtack {
    color: transparent;
   -webkit-text-stroke-width: 1.2px;
   -webkit-text-stroke-color: rgb(27, 27, 27);
}

.fas.fa-thumbtack.active-thumb {
    color:red;
}

.fas.fa-palette {
    color: transparent;
   -webkit-text-stroke-width: 1.2px;
   -webkit-text-stroke-color: rgb(27, 27, 27);
}