.compose-modal{
    position: fixed;
    display: flex;
    background-color: blanchedalmond;
    flex-direction: column;
    top: 40%;
    left: 30%;
    width: 50%;
}
.gray-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 0.5;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 53, 53);
    color: white;
    height: 30px;

}
.modal-header button{
    margin: 5px;
}
.modal-header h1{
    margin: 0;
    padding: 10px;
}
.compose-form{
    display: flex;
    flex-direction: column;
}
.compose-form input{
    height: 30px;
    border: none;
    border-bottom: 1px gray solid;
    font-family: 'Courier New', Courier, monospace;
}
.compose-form textarea{
    border: none;
    border-bottom: 1px gray solid;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

/* .compose-form textarea{
    
} */
.compose-form button{
    width: 80px;
    align-self: center;
    margin: 0;
    background-color: cornflowerblue;
    color: white;
    margin: 10px;
}
