.email-app{
    display: flex;
}

.email-ctgs{
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.email-ctgs div:not(:first-child){
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(139, 77, 77); */
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}
.email-ctgs div:not(:first-child):hover{
    background-color: rgba(0,0,0,0.1);
}
.email-ctgs div.active-ctg{
    background-color: rgba(255,0,0,0.2);
}
.email-ctgs div i{
    padding-right: 5px;
}

.email-ctgs div.compose-btn{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 30px;
    width: fit-content;
    padding: 8px;
    height: 40px;
    border: 0.5px lightslategray solid ;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    align-self: center;
    
    
}

